body {
    font-family: 'Segoe UI', sans-serif;
    background: url('capybara.jpg') 0 0 no-repeat, #1a1a1d;
    background-size: 100%;
    min-width: 320px;
    cursor: pointer;
}

.heading {
    color: #0B0C10;
    margin-left: calc(0px + (350 - 100) * ((100vw - 100px) / (1200 - 320)));
    text-align: center;
    font-size: calc(20px + (100 - 20) * ((100vw - 320px) / (1200 - 320)));
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #F7F9F8 0%,
    #c8e6c9 29%,
    #4caf50 67%,
    #212121 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.list {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: #c8e6c9;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #F7F9F8 0%,
    #c8e6c9 29%,
    #4caf50 67%,
    #212121 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    font-size: calc(9px + (32 - 9) * ((100vw - 320px) / (1200 - 320)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

h2 {
    color: #FFFFFF;
    padding-left: calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
}

hr {
    border: 1px solid #388e3c;
}

p {
    color: #c8e6c9;
    text-align: justify;
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
    padding-left: calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
    padding-right: calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));;
}

.wrap1 {
    border: 1px solid #388e3c;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.wrap2 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: calc(20px + (160 - 20) * ((100vw - 320px) / (1200 - 320)));
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 30px;
    background: #1a1a1d;
    border: 1px solid #388e3c;
    vertical-align: middle;
}

.wrap3 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: calc(20px + (800 - 320) * ((100vw - 320px) / (1200 - 320)));
    padding-top: 14px;
    padding-bottom: 14px;
}

.lnk {
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
    padding-left: calc(20px + (160 - 20) * ((100vw - 320px) / (1200 - 320)));
    padding-right: calc(20px + (160 - 20) * ((100vw - 320px) / (1200 - 320)));
    color: #388e3c;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

button {
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
    border-radius: 30px;
    padding: 16px 20px 16px 20px;
    color: #388e3c;
    background-color: #1a1a1d;
    border: 1px solid #388e3c;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

#navigate {
	position:fixed;
	width: 350px;
	height: 100%;
	background: #212121;
	left: -350px;
    border-radius: 30px;
}

#navigate.active {
	left: 0px;
}

#navigate ul li:first-child {
	text-align: center;
	color: white;
	font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
	list-style: none;
	padding: 10px 10px 10px 10px;
}

#navigate ul li:not(:first-child) {
	color: white;
	font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
	list-style: none;
	padding: 10px 10px 10px 10px;
}

#navigate ul li a {
	color: #dfe5eb;
	text-decoration: none;
}

#navigate .toggle-btn {
    background: #212121;
	position: absolute;
	left: 360px;
	top: 20px;
	padding: 10px;
	border-radius: 25px;
}

#navigate .toggle-btn span {
    background-color: #dfe5eb;
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
	display: block;
	width: 25px;
	height: 4px;
	margin: 4px;
}

.pup{
    float: left;
    width: 200px; 
    height: 150px;
    shape-outside: circle(50%);
}

.btn-up {
    background-color: #673ab7;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 60px;
    height: 50px;
}

.btn-up {
    background-color: #212121;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
  
.btn-up::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 12px;
    top: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #212121;
    }
}

.search_field {
    background: #212121;
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #388e3c;
    text-align: center;
    color: #FFFFFF;
}

.search_button {
    background: #212121;
    border-radius: 30px;
    border: 1px solid #388e3c;
}